body {
    margin:0;
    padding:0;
    font-family: Montserrat;
}
.header-container {
    background-color: #f1f1f1;
    overflow:hidden;
    padding-top: 20px; 
    padding-bottom: 10px;
}
#header-title{
    float: left;
    padding-left: 10px;
    font-size: 25px;
    margin-top: 10px;

}
.header-right a {
    float: right;
    margin-top: 8px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    padding: 12px;
}
.header-left {
    float: left;
}
.header-right a:hover {
    background-color:#b6f5b6;
    color: black;
}
.header-right a.active {
    background-color: #4cbb17;
    color: white;
}
.grid-container-body{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    padding: 10px;
}
.grid-container-body > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 20px;
  }
.grid-item1-headings {
    grid-column-start: 1;
    grid-column-end: 5;
}
.grid-item2-speech-area {
    grid-column-start: 1;
    grid-column-end: 5;
}
.grid-item3-more-heading {
    grid-column-start: 1;
    grid-column-end: 5;
}
#ben-head{
    text-align: left;
    padding-left: 5px;
    padding-top: 20px;
}
.benefits-para{
    font-size: 15px;
    text-align: justify;
    padding-right: 8px;
    padding-left: 8px;
}
.benefits{
    background-color: #f1f1f1;
    border-style: solid;
    border-color: #45a717;
    border-width: 1px;
    height: 190px;
}
.diagram{
    width:600px;
    height:200px;
}
.diagram-container{
    text-align: left;
    padding-left: 5px;
}
#speak-button{
    color: #ffffff;
    background-color: #45a717;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 80px;
    font-family: Montserrat;
}
#tts-para{
    font-size: 15px;
    text-align:left;
    padding-right: 8px;
    padding-left: 8px;

}